<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>FSharp Web Kit</title>
</head>
<body>
    <div ng-controller="HomePageController as HomePage">

        <h1>{{HomePage.Title}}</h1>
        <ul>
            <li><a ui-sref="routeOne">Route One</a></li>
            <li><a ui-sref="routeTwo">Route Two</a></li>
            <li><a ui-sref="routeThree">Route Three</a></li>
        </ul>
        @*<ul>
                <li><a href="/#/login">Login</a></li>
                <li><a href="/#/register">Register</a></li>
            </ul>*@
        <div ui-view></div>
    </div>

    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/Nerds4Hire")
</body>
</html>
